body {
        padding: 20px;
        background: #97bcc7;
        font-family: 'Poppins', sans-serif;
}

.weatherApp {
        border: 2px solid#f2f1ef;
        padding: 15px;
        margin: 20px auto;
        max-width: 600px;
        border-radius: 5px;
}

.search-form {
        margin-bottom: 10px;
}

h1 {
        font-family: 'Poppins', sans-serif;
        color: #006884;
        font-size: 50px;
        font-weight: bold;
        max-height: 1;
        padding: 0;
        margin-left: 10px;
        margin-top: 20px;
}

.openSourceLink {
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: small;
}

ul {
        padding: 0px;
}

li {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        line-height: 1.5;
        list-style-type: none;
        margin-left: 10px;
        color: #006884;
}

li::first-letter {
        text-transform: capitalize;
}
